<div class="container mt-4">
  <div class="row">
    <div class="col-4 "  [routerLink]="['/admin/category']">
      <div class="card p-4 mat-elevation-z8">
        <h2>Categories</h2>
        <h3>64</h3>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-4 mat-elevation-z8">
        <h2>Sales</h2>
        <h3>64</h3>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-2 p-4 mat-elevation-z8">
        <h2>Products</h2>
        <h3>64</h3>
      </div>
    </div>
  </div>
</div>
